header{
  height: 30vh;
  background-image: url('/assets/ImagensLabstecca/imagem-laboratorio.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  img {
    content: url("/assets/ImagensLabstecca/icone.png");
    max-width: 125px;
  }
}

@media (min-width: 769px) {
  img {
    max-width: 500px;
  }
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1em;
  color: black;
  font-weight: bold;
  font-family: "MontSerrat", sans-serif;
}

button:hover{
  color:white;
}