<div *ngIf="authenticated; else FooterLogin">
  <div class="row footer-authenticated pt-1 pb-1">
    <span style="font-size:13px;" class="text-dark">
      Desenvolvido por <a href="https://site.cbminformatica.com.br/" target="_blank"
        href="https://site.cbminformatica.com.br/" target="_blank">
        CBM Assessoria e Informática LTDA</a>. Todos os direitos reservados © 2024
    </span>
  </div>
</div>

<ng-template #FooterLogin>
  <div class="row footerLogin text-center mb-5">
    <div class="col-12">
      <img src="/assets/ImagensLabstecca/logobrancocbm.png" style="max-width: 100px;" alt="logo-cbm">
    </div>
    <div class="col-12">
      <span style="font-size:13px;" class="text-white">
        Desenvolvido por <a [ngStyle]="!authenticated ? {'color': 'deepskyblue'} : {}"
          href="https://site.cbminformatica.com.br/" target="_blank" href="https://site.cbminformatica.com.br/"
          target="_blank">
          CBM Assessoria e Informática LTDA</a>. Todos os direitos reservados © 2024
      </span>
    </div>
  </div>
</ng-template>