.footer-authenticated {
    margin: 0;
    width: 100%;
    height: auto; /* Ajuste a altura conforme necessário */
    text-align: center;
    z-index: 1;
    font-size: 14px;
    color: white !important;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
 
