@media screen and (max-width:550px) {
    #register{
        width:auto !important;
    }
}

a{
    cursor: pointer;
}

#register{
    font-family: 'Montserrat', sans-serif;
}

.login-form{     
    border-top: 5px solid rgba(0, 0, 255, 0.375); 
    border-right: 5px solid rgba(0, 0, 255, 0.375);
    border-bottom: 3px solid #ccc; 
    border-left: 3px solid #ccc; 
    border-radius: 15px; 
    padding: 16px;
}

