.tableResponsive{
  width: 100%;
  overflow-x: auto;
  background-color: white;
}

.containerCustom{
  border: 2px solid black;
  border-radius: 15px;
  margin-top: -10vh !important;
  background-color: white;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

table {
  width: 100%;
  cursor: default;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  white-space: nowrap;
}