.tableResponsive{
  width: 100%;
  overflow-x: auto;
  background-color: white;
}

table {
  width: 100%;
  cursor: default;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  white-space: nowrap;
}