<div *ngIf="IsLoading; else exameContent">
  <div class="container border card-sl" style="height: 500px;">
    <mat-spinner diameter="48" class="d-block m-auto" style="top:45%"></mat-spinner>
  </div>
</div>

<ng-template #exameContent>
  <div class="customform">
    <div class="row">
      <div class="d-block m-auto col-md-6 text-center">
        <div class="card-sl">
          <div class="card-heading">
            <i class="fa-solid fa-user me-2"></i>{{ Exame?.Nome }}
          </div>
          <div>
            <button (click)="startCamera()">Abrir Câmera</button>
            <button (click)="startRecording()">Iniciar Gravação</button>
            <button (click)="stopRecording()">Parar Gravação</button>
            <video #video autoplay></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
