<form class="d-flex p-3 m-auto justify-content-center"  >
    <div class="text-center mb-3 bold marginTop">   

      <div >
        <div class="d-flex justify-content-center">
          <span class="loading-spinner"></span>
        </div>
        <div>
          <span class="showSpanned">Carregando</span>
        </div>
      </div>
      <div>
        <div>
          <span class="error-message"></span>
        </div>
      </div>

    <div class="mb-2">
      <label class="form-label " for="Usuario">Usuário</label>
      <div>
        <input type="text" id="Usuario" class="form-control" placeholder="Digite seu usuário" formControlName="User"/>     
      </div>
    </div>
    
    <div class="mb-2">
      <label class="form-label" for="Password">Senha</label>
      <div class="input-group">
        <input 

          id="Password" 
          class="form-control" 
          placeholder="Senha" 
          formControlName="Password" 
          required />
        <div class="input-group-append">
          <span class="input-group-text" style="cursor: pointer;" > 
            <i class="fa" ></i>
          </span>
        </div>
      </div>
    </div>
    
     
    <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Acessar Exames <i class="fa-solid fa-right-to-bracket"></i></button>
  </div>
</form>

