<form class="row p-3 m-auto justify-content-center" [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
  <div class="col-12 text-center w-75 mb-4 mt-2 fw-bold">
    <span>Percebemos que este é seu primeiro acesso, por isso, é importante trocar sua senha inicial para garantir a
      segurança da sua conta.</span>
  </div>

  <div class="col-md-6 text-center mb-3 fw-bold">
    <div *ngIf="inLoading">
      <app-loader></app-loader>
    </div>
    <div *ngIf="responseError">
      <span class="error-message">{{responseMessageError}}</span>
    </div>

    <div class="mb-2">
      <span class="form-label">Senha Antiga</span>
      <div class="input-group">
        <input [type]="fieldTextTypePassword ? 'text' : 'password'" id="OldPassword" class="form-control"
          placeholder="Senha antiga" formControlName="OldPassword" required />
        <div class="input-group-append">
          <span class="input-group-text h-100" style="cursor: pointer;" (click)="toggleFieldTextType()">
            <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextTypePassword, 'fa-eye': fieldTextTypePassword}"></i>
          </span>
        </div>
      </div>
      <div *ngIf="(formChangePassword.get('OldPassword')?.invalid && formChangePassword.get('OldPassword')?.touched) || formChangePassword.get('OldPassword')?.dirty">
        <div *ngIf="formChangePassword.get('OldPassword')?.errors?.['required']" class="alert alert-danger">Campo
          obrigatório</div>
      </div>
    </div>

    <div class="mb-2">
      <span class="form-label">Nova Senha</span>
      <div class="input-group">
        <input [type]="fieldTextTypeNewPassword ? 'text' : 'password'" id="NewPassword" class="form-control"
          placeholder="Nova senha" formControlName="NewPassword" required />
        <div class="input-group-append">
          <span class="input-group-text h-100" style="cursor: pointer;" (click)="toggleFieldNewPassTextType()">
            <i class="fa"
              [ngClass]="{'fa-eye-slash': !fieldTextTypeNewPassword, 'fa-eye': fieldTextTypeNewPassword}"></i>
          </span>
        </div>
      </div>
      <div *ngIf="(formChangePassword.get('NewPassword')?.invalid && formChangePassword.get('NewPassword')?.touched) || formChangePassword.get('NewPassword')?.dirty">
        <div *ngIf="formChangePassword.get('NewPassword')?.errors?.['required']" class="alert alert-danger">
          Campo obrigatório
        </div>
        <div *ngIf="formChangePassword.get('NewPassword')?.errors?.['minlength']" class="alert alert-danger">
          A senha deve ter no mínimo 6 digitos
        </div>
        <div *ngIf="formChangePassword.get('NewPassword')?.errors?.['maxlength']" class="alert alert-danger">
          A senha deve ter no máximo 32 digitos
        </div>
      </div>
    </div>

    <div class="mb-2">
      <span class="form-label">Repetir Nova Senha</span>
      <div class="input-group">
        <input [type]="fieldTextTypeRepeatPassword ? 'text' : 'password'" id="RepeatPassword" class="form-control"
          placeholder="Repetir Nova Senha" formControlName="RepeatPassword" required />
        <div class="input-group-append">
          <span class="input-group-text h-100" style="cursor: pointer;" (click)="toggleFieldRepeatPassTextType()">
            <i class="fa"
              [ngClass]="{'fa-eye-slash': !fieldTextTypeRepeatPassword, 'fa-eye': fieldTextTypeRepeatPassword}"></i>
          </span>
        </div>
      </div>
      <div *ngIf="(formChangePassword.get('RepeatPassword')?.invalid && formChangePassword.get('RepeatPassword')?.touched) || formChangePassword.get('RepeatPassword')?.dirty">
        <div *ngIf="formChangePassword.get('RepeatPassword')?.errors?.['required']" class="alert alert-danger">Campo
          obrigatório</div>
        <div *ngIf="formChangePassword.get('RepeatPassword')?.errors?.['EqualsTo']" class="alert alert-danger">Senhas
          não conferem</div>
      </div>
    </div>

    <button type="submit" [disabled]="formChangePassword.invalid" class="btn btn-primary btn-block mt-4 w-100">Alterar
      Senha<i class="fa-solid fa-right-to-bracket p-2"></i></button>
  </div>
</form>
