<form class="d-flex p-3 m-auto justify-content-center" [formGroup]="formChangePassword"  (ngSubmit)="changePassword()">
    <div class="text-center mb-3 fw-bold " >   

      <div *ngIf="inLoading">
          <app-loader></app-loader>
      </div>
      <div *ngIf="responseError">
        <div>
          <span class="error-message">{{responseMessageError}}</span>
        </div>
      </div>


    <div class="mb-2">
      <label class="form-label " for="Usuario">Usuário</label>
      <div>
        <input type="text" id="Usuario" class="form-control" placeholder="Digite seu usuário" formControlName="User"/>     
      </div>
    </div>
    
    <div class="mb-2">
      <label class="form-label" for="Password">Senha</label>
      <div class="input-group">
        <input 
          [type]="fieldTextTypePassword ? 'text' : 'password'"
          id="Password" 
          class="form-control" 
          placeholder="Senha" 
          formControlName="Password" 
          required />
          <div class="input-group-append">
              <span class="input-group-text h-100" style="cursor: pointer;" (click)="toggleFieldTextType()"> 
                <i class="fa fa-eye-slash" [ngClass]="{'fa-eye-slash': !fieldTextTypePassword, 'fa-eye': fieldTextTypePassword}"></i>
              </span>
          </div>
      </div>
    </div>

    <div class="mb-2">
      <label class="form-label" for="NewPassword">Nova Senha</label>
      <div class="input-group">
        <input 
          [type]="fieldTextTypeNewPassword ? 'text' : 'password'"
          id="NewPassword" 
          class="form-control" 
          placeholder="Nova Senha" 
          formControlName="NewPassword" 
          required />
          <div class="input-group-append">
            <span class="input-group-text h-100" style="cursor: pointer;" (click)="toggleFieldNewPassTextType()"> 
              <i class="fa fa-eye-slash"  [ngClass]="{'fa-eye-slash': !fieldTextTypeNewPassword, 'fa-eye': fieldTextTypeNewPassword}"></i>
            </span>
          </div>
      </div>
    </div>
     
    <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Alterar Senha<i class="fa-solid fa-right-to-bracket p-2"></i></button>
  </div>
</form>

